/robots.txt.dist
/composer.phar
/LICENSE.txt
/index.php
/htaccess.txt
/configuration.php
/web.config.txt
/README.txt
/robots.txt
/package-lock.json
/.idea
/.well-known
/components/com_ajax/ajax.php
/components/com_ajax/
/components/com_jce/
/components/com_jmap/
/components/index.html
/administrator/index.php
/.htaccess
/tmp/
/the_component_folder/
/package/
/node_modules/
/layouts/
/language/
/includes/
/images/
/dist/component/*
/dist/addons/*
/cli/
/cache/
/bin/
/api/
# /dist/
plugins/system/commercelab_shop/vendor/commercelab_shop/src/Watchful/*

!/media/
/media/*

/media/com_commercelab_shop/js/vue/

!/media/com_commercelab_shop/
!/media/com_commercelab_shop/css/
!/media/com_commercelab_shop/fonts/
!/media/com_commercelab_shop/images/
!/media/com_commercelab_shop/js/



!/libraries/
/libraries/*


!/components/
/components/*
!/components/com_commercelab_shop/

!/administrator/
/administrator/*

!/administrator/components/
/administrator/components/*
!/administrator/components/com_commercelab_shop/
/administrator/components/com_commercelab_shop/import_files
/build/output/
!/administrator/modules/
/administrator/modules/*
!/administrator/modules/mod_ps2latestorders/
!/administrator/modules/mod_ps2saleschart/

!/administrator/language/
/administrator/language/*

!/administrator/language/en-GB/
/administrator/language/en-GB/*
!/administrator/language/en-GB/com_commercelab_shop.sys.ini
!/administrator/language/en-GB/com_commercelab_shop.ini

!/administrator/language/de-DE/
/administrator/language/de-DE/*
!/administrator/language/de-DE/com_commercelab_shop.sys.ini
!/administrator/language/de-DE/com_commercelab_shop.ini

!/administrator/language/nl-NL/
/administrator/language/nl-NL/*
!/administrator/language/nl-NL/com_commercelab_shop.sys.ini
!/administrator/language/nl-NL/com_commercelab_shop.ini

!/administrator/language/pt-PT/
/administrator/language/pt-PT/*
!/administrator/language/pt-PT/com_commercelab_shop.sys.ini
!/administrator/language/pt-PT/com_commercelab_shop.ini

!/administrator/language/it-IT/
/administrator/language/it-IT/*
!/administrator/language/it-IT/com_commercelab_shop.sys.ini
!/administrator/language/it-IT/com_commercelab_shop.ini

!/modules/
!/modules/mod_commercelab_dark_mode_switcher
/modules/*
!/modules/mod_commercelab_shop_cart/
!/modules/mod_commercelab_shop_cartfab/
!/modules/mod_commercelab_shop_currencyswitcher/
!/modules/mod_commercelab_shop_customeraddresses/
!/modules/mod_commercelab_shop_customerorders/

!/plugins/
/plugins/*

!/plugins/content
/plugins/content/*
!/plugins/content/commercelab_shop_fields/
!/plugins/content/commercelab_shop_shortcodes/

!/plugins/ajax
/plugins/ajax/*
!/plugins/ajax/commercelab_shop_ajaxhelper/
!/plugins/commercelab_shop_payment/
!/plugins/commercelab_shop_system/
!/plugins/commercelab_shop_shipping/
!/plugins/commercelab_shop_taxes/
!/plugins/commercelab_shop_extended/


!/plugins/system
/plugins/system/*
!/plugins/system/commercelab_shop/

!/plugins/installer
/plugins/installer/*
!/plugins/installer/commercelab_shop/

!/plugins/system/commercelab_gridandfilter/
!/plugins/system/commercelab_shop_add2cartanywhere/

!/plugins/system/commercelab_shop_klarnacheckout/
!/plugins/system/commercelab_shop_stripeadvanced/
!/plugins/system/commercelab_shop_cardlinkpayment/
!/plugins/system/commercelab_shop_nowpayment/
!/plugins/system/commercelab_shop_stripeadvanced/vendor/
!/plugins/system/commercelab_shop_stripepayment/
!/plugins/system/commercelab_shop_mollieadvanced/
!/plugins/system/commercelab_shop_offlinepay/
!/plugins/system/commercelab_shop_paypal/
!/plugins/system/commercelab_shop_stripe/
!/plugins/system/commercelab_shop_gallery/
!/plugins/system/commercelab_shop_rating/
!/plugins/system/commercelab_shop_shops/
!/plugins/system/pro2storeanimation/
!/plugins/commercelab_shop_payment/paypal/


!/plugins/user
/plugins/user/*
!/plugins/user/commercelab_shop/

/dist_klarnacheckout/
/dist_mollie/
/dist_paypal/
/dist_stripe/
/dist_stripecheckout/
/klarnacheckoutpackage/
/stripecheckoutpackage/
/stripepackage/
/paypalpackage/
/test.php

**/vendor/
!/plugins/system/commercelab_shop/vendor/
!/plugins/commercelab_shop_payment/stripepayment/vendor/
!/plugins/system/commercelab_shop_stripeadvanced/vendor/
!/plugins/commercelab_shop_extended/p2sfaker/vendor/
!/plugins/commercelab_shop_payment/paypal/vendor/
!/plugins/commercelab_shop_payment/mollieadvanced/vendor/
/templates/

!/plugins/quickicon
/plugins/quickicon/*
!/plugins/quickicon/commercelab_shop/